public-hoist-pattern[]=*prisma*
# for turbopack, ongoing issue see: https://github.com/vercel/next.js/issues/68805
public-hoist-pattern[]=@aws-sdk/client-s3
registry=https://registry.npmmirror.com
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
strict-peer-dependencies=false
prisma-engines-mirror=https://registry.npmmirror.com/-/binary/prisma
